
<div class="card mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-9">
                <h4 class="font-weight-bold">All Users</h4>
            </div>
            <div class="col-3">
                <a href="/addUser" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add New</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">CNIC</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length > 0) { %>
                    <% for(let user of users) { %>
                    <tr>
                        <th scope="row"><%= user.firstname %> <%= user.lastname %></th>
                        <td><%= user.phonenumber %></td>
                        <td><%= user.cnic %></td>
                        <td>
                            <a href="/updateUser/<%= user._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="/deleteUser/<%= user._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>No data found</td>
                    </tr>
                <% } %>
            </tbody>
            </table>
    </div>
</div>