<div class="card mt-5 mb-5">
    <div class="card-header">
        <h4 class="font-weight-bold">Update User</h4>
    </div>
    <div class="card-body">
        <form action="/updateUser/<%= user._id %>" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="firstname">First Name</label>
                        <input type="text" class="form-control" value="<%= user.firstname %>" name="firstname" placeholder="enter first name" id="firstname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="lastname">Last Name</label>
                        <input type="text" class="form-control" value="<%= user.lastname %>" name="lastname" placeholder="enter last name" id="lastname">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="phonenumber">Phone Number</label>
                        <input type="number" class="form-control" value="<%= user.phonenumber %>" name="phonenumber" placeholder="enter your phone number" id="phonenumber">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="email">Email</label>
                        <input type="email" class="form-control" value="<%= user.email %>" name="email" placeholder="email@mail.com" id="email">
                    </div>
                </div>
            </div>
            <div class="mt-5">
           
                <button href="/users" type="submit" class="btn btn-success" >Update User</button>
                <a href="/users" class="btn btn-light">Discard changes</a>
            </div>
        </form>
    </div>
</div>