<div class="card mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-9">
                <h4 class="font-weight-bold">Points</h4>
            </div>
            <div class="col-3">
                <a href="/addPoint" class="btn btn-success float-right"><i class="fa fa-plus mr-1"></i>Add New Point</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-active">
                <tr>
                    <th scope="col">Point Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(points.length > 0) { %>
                    <% for(let point of points) { %>
                    <tr>
                        <th><%= point.pointname %></th>
                        <td><%= point.address %></td>
                        <td><%= point.description %></td>
                        <td>
                            <a href="/updatePoint/<%= point._id %>" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="/deletePoint/<%= point._id %>" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>No point found. Add a point now!</td>
                    </tr>
                <% } %>
            </tbody>
            </table>
    </div>
</div>